#section-fill{
    height: 10vh;
    background-color: $prime-color;
}

#preview-section{
    height: 50vh;
    background-color: $light-color;


    .row{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  

        .contents{
            flex-basis: 60%;
            align-items: center;  
            
           
            h3{
                text-align: center;
            }
           
           

            span{
                margin: 1rem 0;
                text-transform: capitalize;
                font-weight: lighter;
            }
            .ctrls{
                height: 50px;
                background-color: $bg-green;
                margin: 10px 0;    
                display: flex; 
                align-items: center;  
                p{
                    margin: 1rem 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $light-color;
                }
              

                .price{
                    flex-basis: 70%;
                    height: 100%;
                    border: 1px solid $dark-secondary-color;
                    border-top: none;
                    border-left: none;

                    display: flex;
                    justify-content: space-evenly;
                }
                .disp{

                    flex-basis: 30%;
                    height: 100%;
                    border: 1px solid $dark-secondary-color;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    font-size: small;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

        h4{
            text-transform: uppercase;
            text-align: right;
        }
    }
}
#details-section{
    height: 50vh;
    background-color: $light-gray;
    .row{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .col-6{
            flex-basis: 50%;
         
        }
        #specs,
        #talent{
            height: 30vh;
            padding: 10px;
           

            h3{
                margin: 1rem 0;
                text-transform: capitalize;
            }
         .written,
         .art{
             display: flex;
             height: 50px;
             justify-content: flex-start;
         }
         .sale,
         .prices,
         .series{
            display: flex;
            height: max-content;
            justify-content: flex-start ;

            a{
                text-transform: uppercase;
            }
         }
        }
     }
}