#section-fill{
    height: 10vh;
    background-color: $prime-color;
}

#preview-section{
    height: 40vh;
    background-color: $light-color;
}
#details-section{
    height: 40vh;
    background-color: $light-gray;
}