#gallery{
    height: 100%;
    margin-bottom: 50px;
    .comics{
        height: 100%;
        padding: 80px 0 10px 0 ;
        color: $light-color;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;  

        .card{
          
            flex-basis: calc(100%/6);
            color: $light-color;
            text-align: center;
            margin: 0.6rem;
            cursor: pointer;  
            img{
                flex-basis: 100%;
               transform: scale(1.4,1);
                max-width: 75%;
            }
            h5{
                text-transform: uppercase;
                margin-top: 10px;
            }
            h6{
                font-style: italic;
                font-weight:200;
            }
        }
    }

   
 }
 .controls{
    height: 20vh;
    text-align: center;
    line-height: 20vh;

    .btn.btn-primary-full{
        margin: 0 auto;
      } 

}