header {
    background-color: $light-color;
    height: 20vh;
    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      align-items: center;
    }
    .col img{
      max-width: 50%;
    }

    .list-nav{
        display: flex;
        justify-content: space-around;
        margin-left: 5%;

        li{
            padding: 10px;
            a{
                text-decoration: none;
                padding: 0 15px 32px 15px;
                color: $dark-secondary-color;
  
               text-transform: uppercase;
               font-weight: bold;
               font-size: 0.9em;
            }
            a:hover{
               color: $prime-color;
            }
        }
    }
  }