header {
    background:$light-color;
    height: 20vh;
    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      align-items: center;
    }
    .col img{
      max-width: 50%;
    }

    .list-nav{
        display: flex;
        justify-content: space-around;
        margin-left: 5%;

        li{
            padding: 10px;
            a{
                text-decoration: none;
                padding: 0 15px 32px 15px;
                color: $dark-secondary-color;
  
               text-transform: uppercase;
               font-weight: bold;
               font-size: 0.9em;
            }
            a:hover{
               color: $prime-color;
               animation: change 3s linear infinite alternate;
            }
            a.active{
              color: $bg-red;
              
            }

            @keyframes change {
              0%{
                color: $prime-color;
              }
              15%{
                color: $bg-violet;
              }
              30%{
                color: $bg-red;
              }
             
              45%{
                color: $bg-yellow;
              }
              75%{
                color: $bg-violet;
              }
            }
        }
    }
  }