header {
    background:$light-color;
    height: 20vh;
    .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      align-items: center;
    }
    .col img{
      max-width: 50%;
    }

    .list-nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;

        li{
            display: block;
           
            a{ 
                
                text-decoration: none;
               
                margin: 0 20px;
                
                color: $dark-secondary-color;
  
               text-transform: uppercase;
               font-weight: bold;
               font-size: 0.9em;
            }
            &:hover{
               color: $prime-color;
               animation: change 3s linear infinite alternate;
            }
            &:active{
              color: $bg-red;
              
            }

            @keyframes change {
              0%{
                color: $prime-color;
              }
              15%{
                color: $bg-violet;
              }
              30%{
                color: $bg-red;
              }
             
              45%{
                color: $bg-yellow;
              }
              75%{
                color: $bg-violet;
              }
            }
        }
        li .active{
          
          border-bottom: 6px solid $prime-color;
          padding: 50% 0 55% 0;
        }
    }
  }