#jumbotron{
    
    height: 40vh;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.726)),url('../images/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
    .btn{
        position: absolute;
        bottom: -30px;
        left:325px;
        z-index: 1;
        
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.3em;
        padding: 10px 20px;
    }
}