.container{
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-sm{
    max-width: 1050px;
    margin: 0 auto;
  }

  li{
    list-style-type: none;
    a{
      text-decoration: none;
    }
  }