$main-font: 'Noto Sans', sans-serif;
$prime-color:#0282f9;
$dark-color:#000;
$light-color:#fff;
$secondary-color: #aaa9a9;
$dark-secondary-color:#303030;
$dark-gray:#1c1c1c;
$light-gray:#f6f6f6;
$dark-blue:#0f4a6b;
$gray-1:#7a7a7b;
$bg-green:#55ba59;