#site{
    height: 20vh;
    background:$prime-color ;
    .row{
        height: 100%;
        .list-nav-center{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.list-nav-li{
    display: flex;
    justify-content: center;
    flex-basis: calc(100%/5);
   a{
    padding:0  20px;
    align-self: center;
    color:$light-color;
    }
   a:hover{
    color: $light-color;
    }
   
   li:nth-child(4),img{
    max-width: 20%;
   }
}
