@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1050px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}

.btn {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn.btn-primary {
  color: #fff;
  border: 2px solid #0282f9;
}
.btn.btn-primary-full {
  background-color: #0282f9;
  color: #fff;
  border: 2px solid #0282f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1c1c1c;
  font-family: "Noto Sans", sans-serif;
}

img {
  max-width: 100%;
}

header {
  background-color: #fff;
  height: 20vh;
}
header .row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  align-items: center;
}
header .col img {
  max-width: 50%;
}
header .list-nav {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}
header .list-nav li {
  padding: 10px;
}
header .list-nav li a {
  text-decoration: none;
  padding: 0 15px 32px 15px;
  color: #303030;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
header .list-nav li a:hover {
  color: #0282f9;
}

#jumbotron {
  height: 40vh;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.726)), url("../images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#jumbotron .btn {
  position: absolute;
  bottom: -30px;
  left: 325px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3em;
  padding: 10px 20px;
}
#jumbotron img {
  box-shadow: 2px 2px 40px #000;
  max-width: 10%;
  position: absolute;
  bottom: -30px;
  left: 325px;
  z-index: 1;
}
#jumbotron #blue-section {
  height: 10vh;
  background-color: #0282f9;
}

#gallery {
  height: 100%;
  margin-bottom: 50px;
}
#gallery .comics {
  height: 400px;
  padding: 80px 0 10px 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#gallery .comics .card {
  flex-basis: 16.6666666667%;
  color: #fff;
  text-align: center;
  margin: 0.6rem;
  cursor: pointer;
}
#gallery .comics .card img {
  flex-basis: 100%;
  transform: scale(1.4, 1);
  max-width: 75%;
}
#gallery .comics .card h5 {
  text-transform: uppercase;
  margin-top: 10px;
}
#gallery .comics .card h6 {
  font-style: italic;
  font-weight: 200;
}